# case haja algum arquivo .class
/**/*.class

# exemplos do professor utilizados em sala de aula
poo2_prof
poo2_exemplos

# link do exercício no github
/**/link_exercicio.txt

# repositório dos trabalhos
trabalhos

# arquivos .zip
/**/*.zip
